# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Keep dist directory structure but ignore contents
dist/**/*
!dist/.gitkeep
!dist/reports/.gitkeep
!dist/data/.gitkeep

# Keep models directory structure but ignore contents
models/**/*
!models/.gitkeep

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
